* {
  color: #222222;
  text-decoration: none;
  box-sizing: border-box;
  outline: 1px solid rgba(15, 127, 127, .14);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  color: #0f0e0e;
  font-size: 16px;
}

body:focus {
  outline: none;
}

a {
  color: #0f0e0e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  color: #222222;
}

header,
footer,
article,
section {
    display: block;
}
.div {

}

.section {
  display: block;
}

.nav-bar {
  text-align: left;
  font-weight:400;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.nav-bar-header {
  background-color: #222222;
}

/***** Nav *****/

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.nav-bar li a:hover {
  background-color: #111;
}

.nav-bar .null {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.nav-bar .sub {
  color: #2196f3;
}

.nav-bar .cart {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  background-color: #FFC107;
}
.nav-bar .cart:hover {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #fcc82a;
}
.nav-bar i {
  color: black;
}
.nav-bar li:first-child img {
  max-width: 22px;
}
/***** Header  Img *****/

.bg {
  background-image: url("http://www.papalote.org.mx/assets/img/img/login-bg/bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 7rem 0;
  color: white;
  text-align: center;
}

.bg h1 {
  font-size: 3rem;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.bg span {
  font-size: 1.2rem;
  color: white;
}

h2.header-text {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

span.description {
  color: #999999;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

div.clear{
  clear: both;
}
/***** Content *****/
.wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
}

.container {
  padding: 10px;
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.row {
  flex-flow: row wrap;
}

.col {
  flex-flow: column wrap;
}

.element {
  min-width: 100px;
}

.content {
  flex: 1 100%;
}

.content li {
  list-style-type: none;
}

.structure {
  min-height: auto;
}

.structure-weight {
  flex: 1 33.333333%;
}

.a {
  flex: 1 30%;
  max-width: 30%;
  margin: 1.5%;
}

.b {
  flex: 55%;
  max-width: 55%;
  margin: 1%;
}

.c {
  flex: 1 40%;
  max-width: 40%;
  margin: 1%;
}

.product-page {
  width: 100%;
}

.item-img {
  /*z-index:1;*/
}


#products {
  margin: 3rem;
}

#products .top-product-label {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  float: right;
  position: relative;
}

.top-product-label button {
  float: right;
  position: relative;
  padding: 1rem .7rem;
  margin-left: 1em;
  font-weight: bold;
  background: #ffffff;
  color: #999999;
  border: 2px solid #999999;
  border-radius: 0;
}

.top-product-label button:active {
  border: 2px solid tomato;
  color: tomato;
}

.product-list {
  padding: 1.5rem;
}

.product-card {
  border: 1px solid #999999;
  padding: 1rem;
}

.product-card img.expand {
  width: 20.5rem;
  heigh: 20.5rem;
}

.product-card h3 {
  font-size: 1.3rem;
  line-height: 0!important;
  margin: 0;
  padding: 0;
}

.product-card h4 {
  margin: 0;
  padding: 0;
}

.product-single-info {
  border: 1px solid #999999;
  padding: 1rem;
  height: 13rem;
}

.product-single-info small {
  font-size: 1rem;
  text-decoration: underline;
}

.product-single-info button {
  background-color: #f44336;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-top: 0.2em;
  text-align: center;
  border-radius: 2rem;
  float:right;
  border: none;
}

.api-info{
  display: inline-block;
  margin-right: 1em;
}

.api-info p{
  color: #99999;
  font-weight: 400;
  display: inline-block;
  width: 2.5rem;
  margin: 0;
}

.product-single-image{
}

.top-product-label {
  color: #999999;
}

.showing-label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFC107;
}

.price {
  font-size: 1.2rem;
  color: #999999;
  font-weight: 600;
  margin: .6rem 0 0 0;
  padding: 0;
}
/***** Footer *****/
footer {
  border-top: 2px solid #999999;
  padding: 2em 10em;
}

.footer img{
  width: 6rem;
  height: 6rem;
  border-bottom: 2px solid #999999;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  color: inherit;
  font-weight: normal;
  line-height: 2rem;
}

.footer-title {
  color: #f44336;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-social {
  text-align: right;
}

.footer i {
  color: inherit;
  margin-right: 0.8rem;
}
